@import '../libs/vars';
@import '../libs/functions';
@import '../libs/mixins';

#blog {
  position: relative;
  max-width: 100%;
  min-width: 27em;
  @include padding(3em, 3em);

  background: _palette(bg);
  border-radius: _size(border-radius);
  cursor: default;
  opacity: 0.95;
  text-align: center;

  @include vendor('transform-origin', '50% 50%');
  @include vendor('transform', 'rotateX(0deg)');
  @include vendor('transition', (
    'opacity #{_duration(main)} ease',
    'transform #{_duration(main)} ease'
  ));

  &.article {
    text-align: left;
  }

  p, ul, li, span, b, strong, i {
		text-transform: none;
  }

  header {
    time {
      font-size: 50%;
      display: block;
      margin-bottom: 10px;
    }
  }

  ul.articles-list {
    text-align: left;
    list-style: none;
    > li {
      h2 {
        font-weight: bold;
      }
    }
  }

  @include breakpoint(xsmall) {
    min-width: 0;
    width: 100%;
    @include padding(2em, 2em);
  }

  body.is-loading & {
    opacity: 0;
    @include vendor('transform', 'rotateX(15deg)');
  }
}
